
/EnglishReadyBot/.vs
/EnglishReadyBot/bin
/EnglishReadyBot/bin
/EnglishReadyBot/bin
/EnglishReadyBot/bin
/EnglishReadyBot/bin
/EnglishReadyBot/obj
/EnglishReadyBot/obj
/EnglishReadyBot/obj/Debug
/EnglishReadyBot/Properties
